*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --text: #ff8a88;
    --scrollTop: 0;
    --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

@font-face {
    font-family: raleway_f;
    src: url("../fonts/raleway-regular.woff2");
}
@font-face {
    font-family: raleway_f;
    src: url("../fonts/raleway-black.woff2");
    font-weight: 900;
}

body{
    background-color: #010101;
    font-family: raleway_f, sans-serif;
    line-height: 1.55;
}

.main-header{
    position: relative;
}

.main-header::after{
    content: '';
    position: absolute;
    bottom: calc(var(--index) * -1.8);
    z-index: 5;
    width: 100%;
    height: calc(var(--index)*7 );
    background-image: url("../img/transition.png");
    background-size: cover;
}

.layers{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.layer{
    transition: var(--transition);
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
}

.layers__base{
    transform: translate3d(0, calc(var(--scrollTop)/1.8),0);
    z-index: 0;
}
.layers_title{
    transform: translate3d(0, calc(var(--scrollTop)/2.6),0);
    z-index: 0;
}

.layers_third{
    transform: translate3d(0, calc(var(--scrollTop)/4),0);
    z-index: 2;
}

.layers_second{
    transform: translate3d(0, calc(var(--scrollTop)/7),0);
    z-index: 2;
}

.layers_front{
    transform: translate3d(0, calc(var(--scrollTop)/8),0);;
    z-index: 2;

}

.layer__header{
    z-index: 1;
    transition: var(--transition);
    transform: translate3d(0, calc(var(--scrollTop)/2),0);;
    text-transform: uppercase;
    will-change: transform;
    font-weight: 900;
    color: var(--text);
    text-shadow: 0 0 10px #974c4c;
}

.layer__title {
    font-size: calc(var(--index) * 3.0);
    letter-spacing: calc(var(--index)/2);
}
.layer__caption{
    font-size: calc(var(--index) * 2.5);
    letter-spacing: calc(var(--index)/3.5);
}

.main-article{
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: var(--text);
    text-shadow: 0 0 15px #5d564f;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-article__header{
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.9);
    letter-spacing: calc(var(--index) / 6);
    transform: translate3d(0, calc(var(--scrollTop)/-12),0);
    transition: var(--transition);
    will-change: transform;
}
.main-article__paragraph{
    max-width: calc(var(--index) * 30);
    font-size: calc(var(--index) * 1.1);
    margin-top: calc(var(--index)*0.2);
    transform: translate3d(0, calc(var(--scrollTop)/-12),0);
    transition: var(--transition);
    will-change: transform;
}

.copy{
    position: absolute;
    bottom: calc(var(--index)*0.5);
    font-size: calc(var(--index)*.75);
    letter-spacing: calc(var(--index) / 7);

}